
*{
  box-sizing:border-box;
}

body {
/*   display: flex; */
  background-color: #110508;
  align-items: center;
  justify-content: center;
}
h1{
  color:#F63D6F;
  font-family: 'Lato', sans-serif;
}
.bg{
  background-image:url(https://images.unsplash.com/photo-1524244310120-3af0bc67465e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-position:left top;
  background-size:cover;
  
}
.title{
  font-size:40px;
  font-weight: lighter;
}
.des {
  font size:18px;
  color:#ffffff;
}
.container{
  background-color:rgba(255,255,255,0);
  padding:50px;
  padding-bottom:200px;
  width:100%;
  

}
.host{
  font-size:12px; 
  font-weight:300; 
}

@media(max-width:2500px) {
  .container {
    width:50%
  }
}
@media(max-width:375px) {
  .container {
    width:100%
  }
}
html, body {
  min-height: 100%;
}

h3 {
  color: #FFFFFF;
  font-size: 20px;
  margin: 16px 0 8px ;
}
a {
  color: #F63D6F;
  text-decoration: none;
}
a::after {
  content: 'READ MORE'
}


/* images link from unsplash*/

.image {
  height: 240px;  
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-1 {
  background-image: url('https://images.unsplash.com/photo-1500640963716-929a14d94483?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}
.image-2 {
  background-image: url('https://images.unsplash.com/photo-1543504903-e91a4bea6c67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}
.image-3 {
  background-image: url('https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}
.image-4 {
  background-image: url('https://images.unsplash.com/photo-1544385561-5817c4194492?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}
.image-5 {
  background-image: url('https://images.unsplash.com/photo-1551547600-8d30c2559da8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}
.image-6 {
  background-image: url('https://images.unsplash.com/photo-1517379578134-c841d01a6c73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}


/* Start writing your code here */

.product-list {
  display:flex;
  flex-wrap:wrap;
}

.product-item {
  flex-grow:1;
  flex-basis:200px;
}

